@page

@model IndexModel
@{
    ViewData["Title"] = "Directories with Images";
    var isSkipped = Model.Manager.Configuration.CreatorConfiguration.SkipFoundImages;
}


<h1>@ViewData["Title"]</h1>

@if (Model.Directories is not null && Model.Directories.Any())
{
    foreach (var item in Model.Directories)
    {
        <p>
            <a href="~/Details/@item.Name" class="text-decoration-none">
                <span class="display-4 text-uppercase">@item.Name</span>
                @if (!isSkipped)
                {
                    <span class="badge bg-secondary">@(item.Items?.Count() ?? 0)</span>
                }
            </a>
        </p>
    }
}
